

/* Everything */
body {
  margin: 0;
  padding: 0;
  background-color: #111111;
  font-family: Helvetica, Arial, sans-serif;
}


/* Fixed header stuff */
header {
  width: 100vw;
  height: auto;
  background-image: radial-gradient( circle, #290C0C, #290C0C, #111111 );
  padding: 20px 0 10px 0;
}

header .logo {
  float: left;
  margin-right: 100px;
}

header .logo img {
  width: 64px;
  height: auto;
}

header nav {
  margin-right: 100px;
}

header .nav-link {
  text-decoration: none;
  font-weight: bold;
  margin-right: 40px;
}

header .nav-linkA a:hover { color: white; text-shadow: 0 0 20px #5A99FF, 0 0 4px white; }
header .nav-linkB a:hover { color: white; text-shadow: 0 0 20px #4DDB99, 0 0 4px white; }
header .nav-linkC a:hover { color: white; text-shadow: 0 0 20px #EF5454, 0 0 4px white; }
header .nav-linkD a:hover { color: white; text-shadow: 0 0 20px #B354EF, 0 0 4px white; }

header nav ul li:last-child .nav-link {
  margin-right: 0;
}

header .user-bar {
  float: right;
}

header .icon-notes {
  width: 24px;
  height: auto;
  margin-right: 40px;
}

header .user-pic {
  width: 32px;
  height: auto;
}


/* Article page stuff */
main {
  width: 100vw;
  height: auto;
  display: block;
  text-align: center;
  background-color: white;
  padding-bottom: 20px;
}

main .article-image {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 700px;
  background-image: url( "https://images.pexels.com/photos/1455985/pexels-photo-1455985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" );
  background-size: cover;
  background-position: center;
  border-top: 4px solid #111111;
}

main .article-image:after {
  content: '';
  position: absolute;
  transform: translate( -50%,-50% );
  top: 50%;
  left: 50%;
  width: 110%;
  padding-bottom: 110%;
  box-shadow: inset 0px 0px 150px 60px rgba( 0,0,0,0.8 );
  border-radius: 50%;
}

main .gradient-divider {
  height: 20px;
  background-image: linear-gradient( to right, #EF5454, #B354EF );
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #111111;
}

main article h2 {
  font-size: 32pt;
  margin-top: 80px;
  margin-bottom: 20px;
}

main article .caption-text {
  font-size: 18pt;
}

main article h3 {
  font-size: 20pt;
}

main .text-block {
  font-size: 18pt;
  line-height: 28px;
  max-width: 1000px;
  position: relative;
  left: 50%;
  transform: translateX( -50% );
}

main .icon-like, main .icon-share {
  width: 72px;
  height: auto;
  margin-right: 40px;
  margin-bottom: 32px;
}

main .author-box {
  display: flex;
  height: auto;
  background-image: linear-gradient( to bottom right, #EF5454, #B354EF );
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #111111;
  padding-top: 20px;
  padding-bottom: 40px;
}

main .author-box .user-pic {
  width: 128px;
  height: auto;
}

main .author-box .author-pic {
  flex: 1 40%;
  text-align: right;
  transform: translateX( -10% );
}

main .author-box div {
  flex: 2 60%;
  text-align: left;
}

main .author-box h4 {
  max-width: 600px;
  font-size: 18pt;
  margin-bottom: 0;
}

main .author-box p {
  max-width: 600px;
  line-height: 24px;
  font-size: 14pt;
}

main .author-box div a {
  text-decoration: none;
  font-weight: bold;
}

main .author-box div a:hover {
  text-shadow: 0 0 4px white;
}

main .comments-box {
  margin-top: 40px;
  margin-bottom: 40px;
}

main .comments-box .user-pic {
  width: 32px;
  height: auto;
  margin-right: 20px;
}

main .comments-box h4, main .comments-box p {
  margin-right: 20px;
}

main .comments-box .comment-box {
  margin-top: 40px;
}

main .comments-box .icon-comment-like {
  width: 32px;
  height: auto;
}

main .comments-box .comment-input {
  width: 40em;
  height: auto;
}

main .comments-box .comment-text {
  width: auto;
  max-width: 40em;
  height: auto;
  word-wrap: break-word;
}


/* Author page stuff */
.page-author .author-pic {
  max-width: 400px;
  height: auto;
  position: absolute;
  transform: translateX( -50% ) translateY( -75% );
  margin-bottom: 0;
}

.page-author h2 {
  margin-top: 150px;
}


/* Fixed footer stuff */
footer {
  width: 100vw;
  height: 200px;
  background-image: radial-gradient( circle, #290C0C, #290C0C, #111111 );
  padding: 10px 0;
}

footer p {
  max-width: 500px;
  flex: 1 80%;
  text-align: right;
  margin-left: 625px;
}

footer nav {
  width: 200px;
  flex: 2 20%;
  text-align: left;
}

footer nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

footer nav ul li a:hover {
  text-shadow: 0 0 4px white;
}

.article-thumbnail {
  max-width: 600px;
  height: auto;
}


/* Reusable stuff */
.global-defaulttext { color: grey; } /*grey*/
.global-titletext { color: #290C0C; } /*dark color*/
.global-othertext { color: lightgrey; } /*light grey*/
.global-inverted { color: white; } /*white*/
.global-highlightA { color: #5A99FF; } /*blue*/
.global-highlightB { color: #4DDB99; } /*green*/
.global-highlightC { color: #EF5454; } /*red*/
.global-highlightD { color: #B354EF; } /*purple*/

.clearfix:after {
  content: "";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.full-width {
  width: 100%;
  flex: 1 100%;
}

.horizontal-list li {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
}

.horizontal-list li:last-child {
  margin-right: 0;
}

.horizontal-item {
  display: inline-block;
}

.center-x {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.center-y {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: middle;
}

.array-list {
  list-style: none;
}


/* Animation stuff */
@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fadein {}

@keyframes animbow {
  from { transform: rotate( 0deg ) scale( 1 ); }
  to { transform: rotate( 45deg ) scale( 1.5 ); }
}

.anim-bow:hover {
  animation-name: animbow;
  animation-duration: 0.25s;
  animation-direction: alternate;
  animation-iteration-count: 2;
}
